<!-- login.component.html -->

<div class="login-form">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label>Email:</label>
    <input type="email" name="email" [(ngModel)]="email" required>

    <label>Password:</label>
    <input type="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Login</button>
  </form>
</div>

<div class="register-form">
  <h2>Register</h2>
  <form (ngSubmit)="register()">
    <label>Email:</label>
    <input type="email" name="registrationEmail" [(ngModel)]="registrationEmail" required>

    <label>Password:</label>
    <input type="password" name="registrationPassword" [(ngModel)]="registrationPassword" required>

    <button type="submit">Register</button>
  </form>
</div>
