<!-- login.component.html -->

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Login</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="form-group mb-3">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                class="form-control"
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="password">Password:</label>
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                [(ngModel)]="password"
                required
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Register</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="register()">
            <div class="form-group mb-3">
              <label for="registrationEmail">Email:</label>
              <input
                type="email"
                id="registrationEmail"
                class="form-control"
                name="registrationEmail"
                [(ngModel)]="registrationEmail"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="registrationPassword">Password:</label>
              <input
                type="password"
                id="registrationPassword"
                class="form-control"
                name="registrationPassword"
                [(ngModel)]="registrationPassword"
                required
              />
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-secondary btn-block">
                Register
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
